@tailwind base;
@tailwind components;
@tailwind utilities;

.heroServicesImg{
    width: auto;
}

@keyframes gradient-animation {
    0% { background-position: 0% 50%; }
    25% { background-position: 25% 75%;}
    50% { background-position: 100% 50%; }
    75% { background-position: 75% 25%;}
    100% { background-position: 0% 50%; }
  }
  
  .animated-gradient-text {
    background: linear-gradient(to right, #3b82f6 ,#ba2481);
    background-size: 300% 200%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradient-animation 2s ease infinite;
  }
  
  /* Estilos para móviles */
@media only screen and (min-width: 100px) and (max-width: 768px) {
  .generalWrapper{
    background-color: red;
  }
}

/* Estilos para tabletas */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  
}

/* Estilos para portátiles */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  
}

/* Estilos para dispositivos grandes */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  
}

